# OSX
#
.DS_Store

# Xcode
#
example/build/
example/*.pbxuser
example/!default.pbxuser
example/*.mode1v3
example/!default.mode1v3
example/*.mode2v3
example/!default.mode2v3
example/*.perspectivev3
example/!default.perspectivev3
example/xcuserdata
example/*.xccheckout
example/*.moved-aside
example/DerivedData
example/*.hmap
example/*.ipa
example/*.xcuserstate
example/project.xcworkspace

# Android/IJ
#
example/.idea
example/.gradle
example/local.properties

# node.js
#
example/old/node_modules/
example/UIKit/node_modules/
example/npm-debug.log
